@page
@model RazorPizzeria.Pages.OrdersModel
@{
}

<h3>Orders</h3>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Pizza Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbpdy>

        @foreach(var order in Model.PizzaOrders)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.PizzaName
                </td>
                <td>
                    @order.BasePrice
                </td>
            </tr>
        }

        
    </tbpdy>
</table>

<a class="btn btn-primary mt-1" asp-area="" asp-page="Edit">Edit the database</a>